* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/*
font-family: 'Bacasime Antique', serif;
font-family: 'Oswald', sans-serif;
*/
body {
    width: 100%;
    height: 200vh;

    background-color: rgb(255, 255, 255);

}

header {
    width: 100%;
    height: 250px;
    padding: 0 5% 0 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(255, 255, 255);

    background-image: url(Apresentação\ Clube\ de\ Programação.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

main {
    width: 100%;
    height: 400vh;
}

footer {
    width: 100%;
    height: 400px;
    background-color: rgb(165, 165, 165);
}




header .navegacao {
    font-size: 20px;
    text-transform: uppercase;

    width: 500px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;

}

header .navegacao p a {
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
    color: white;


}

header .navegacao p :hover {
    transition: 0.5s;
    color: coral;
    text-transform: uppercase;
    cursor: pointer;
}

header .style {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 53%;
    height: 250px;
}

header .pesquisa {
    width: 400px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid black;
    padding: 1em;

    display: flex;
    align-items: center;

    opacity: 0.5;

    background-color: rgb(255, 255, 255);
}

header .pesquisa img {
    width: 30px;
    height: 30px;
    opacity: 0.5;
}

header .pesquisa p {
    margin-left: 10px;
    opacity: 0.5;
}

header p a {
    text-decoration: none;
    color: black;
}


main .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(Apresentação\ Clube\ de\ Programação.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    width: 100%;
    height: 800px;

}

main .club-h {
    width: 750px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 100px;
}

main .club-h p {
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 80px;
    width: 250px;
    font-family: 'Bacasime Antique', serif;
    font-family: 'Oswald', sans-serif;
}


main .bloco0 img {
    width: 800px;
    height: 500px;
}

main .bloco0 {
    box-shadow: 0 -80px 80px rgba(255, 255, 255, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 900px;
}

main .carrosel {
    width: 800px;
    height: 500px;
    overflow: hidden;

    display: flex;
    margin-bottom: 30px;
}


main .bloco1 {
    width: 100%;
    height: 700px;


    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4em 0;
    margin-top: 4em;

}

main .bloco1 .img img {
    width: 800px;
    height: auto;
    box-shadow: 20px 40px 40px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
}

main .bloco1 .texto1 {
    width: 1000px;
    height: 650px;
}

main .bloco1 .texto1 h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0.5em 0 0.5em 0;
    font-family: 'Raleway', sans-serif;
}

main .bloco1 .texto1 p {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    padding: 1em 0 0 1em;


    width: 500px;
    height: 250px;

}

main .bloco1 .texto1 .cont1 {
    border-right: 2px solid black;


}

main .bloco1 .texto1 .cont2 {
    border-top: 2px solid black;


}

main .bloco1 .texto1 .cont3 {
    border-bottom: 2px solid black;

}

main .bloco1 .texto1 .cont4 {
    border-left: 2px solid black;


}

main .bloco1 .texto1 img {
    width: 50px;
    height: 50px;
    display: inline-block;
    display: flex;
}

main .bloco1 .texto1 .colunas1234 {
    display: flex;
    justify-content: space-around;
}

main .bloco2 {
    width: 100%;
    height: 700px;
    background-color: rgb(255, 115, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
    box-shadow: 20px 40px 40px rgba(0, 0, 0, 0.5);


}

main .bloco2 img {
    width: auto;
    content: "";
    height: 100%;
    background: linear-gradient(to right, transparent, white);
    /* Gradiente que cria o efeito de desvanecimento */
    pointer-events: none;
}

main .bloco2 .texto2 {
    padding: 0 1em 0 5em;
    width: 700px;
    height: 600px;
}

main .bloco2 .texto2 h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 1em 1em 1em 0;
    font-family: 'Raleway', sans-serif;

}

main .bloco2 .texto2 p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-bottom: 1em;
}

main .bloco2 .texto2 img {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 1em;
}
main .bloco3{
    width: 100%;
    height: 800px;
    background-color: azure;

}


.conteudo a {
    text-decoration: none;
    position: relative;
    display: inline-block;

    color: black;
}

.conteudo a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 153, 0);
    transition: transform 1s ease;
    transform: scaleX(0);
    transform-origin: left;
}

.conteudo a:hover::after {
    transform: scaleX(1);
}

.manual-nav{
    width: 100%;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 10px;
    height: 10px;
    cursor: pointer;

}
#VoltSlide {
    color: black;
    padding: 10px 20px;
    border: none;
}

#ProxSlide {
    color: black;
    padding: 10px 20px;
    border: none;
}

main .imagem1{
    width: 800px;
    height: 500px;
}
main .imagem1-off{
display: none;
}

main .imagem2{
    width: 800px;
    height: 500px;
}
main .imagem2-off{
display: none;
}

main .imagem3{
    width: 800px;
    height: 500px;
}
main .imagem3-off{
display: none;  
}

main .imagem4{
    width: 800px;
    height: 500px;
}
main .imagem4-off{
display: none;
}